<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Edit My Event</title>
</head>
<body>
    <h1>Edit My Event</h1>
    <div class="header">
        <h1>Hello {{this_user.first_name}}! Let's edit your event!</h1>
        <div class="links">
            <a href="/dashboard">Dashboard</a>
            <a href="/">Logout</a>
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action='/{{event.id}}/update' method='POST'>
        {% csrf_token %}
        <div class="form-group">
            <label for='title'>Title</label>
            <input name='title' type='text' id='title' class='form-control' value="{{event.title}}" required>
        </div>
        
        <div class="form-group">
            <label for='description'>Description</label>
            <textarea name='description' cols="30" rows="10" id='description' class='form-control' value="{{event.description}}" required></textarea>
        </div>
        <div class="form-group">
            <label for='location'> Location</label>
            <input name='location' type='text' id='location' class='form-control' value="{{event.location}}" required>
        </div>
        <div class="form-group">
            <label for='date'>Date</label>
            <input name='date' type='datetime-local' id='date' class='form-control' value="{{event.date}}" required>
        </div>
        <div class="form-group">
            <label for='duration'>Duration</label>
            <input name='duration' type='text' id='duration' class='form-control' value="{{event.duration}}" required>
        </div>
    
        <br>
        <a href="/dashboard" class="btn btn-primary">Cancel</a>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>